In [ ]:
#method in class will create properties and values on them
#life concept: anything happening(method) will create properties
syntax:
class Name:
    method(self,other parameters):
        self.properties

In [ ]:
class Human:
    def birth(self,gender):
        self.gender=gender
        print(f"{self.gender} took birth")
    def name_it(self,name):
        self.name=name
        print(f"{self.name} is your name")
    def intro(self):
        print(f"hi i am {self.name} a {self.gender}")

In [ ]:
h=Human()

In [ ]:
h.birth("male")

male took birth

In [ ]:
h.gender

'male'

In [ ]:
h.name_it("amar")

amar is your name

In [ ]:
h.name

'amar'

In [ ]:
h.intro()

hi i am amar a male

In [ ]:
h2=Human()
h2.birth("female")
h2.name_it("wonder woman")
h2.intro()

female took birth
wonder woman is your name
hi i am wonder woman a female

In [ ]:
#self is ref of object who is calling
class Human:
    def birth(self,gender):
        self.gender=gender#138774892839984.gender
        #138774892840176.gender
        print(f"{self.gender} took birth",id(self))
    def name_it(self,name):
        self.name=name
        print(f"{self.name} is your name",id(self))
    def intro(self):
        print(f"hi i am {self.name} a {self.gender}",id(self))

In [ ]:
h=Human()
h2=Human()

In [ ]:
id(h)

138774892844592

In [ ]:
id(h2)

138774892853280

In [ ]:
h2.birth("female")
h.name_it("amar")

female took birth 138774892843296
amar is your name 138774892842048

In [ ]:
id(h2)

138774892843296

In [ ]:
id(h2.gender)

138774327007472

In [ ]:
h2.name

AttributeError: 'Human' object has no attribute 'name'

In [ ]:
#self is ref of object who is calling
class Human:
    def birth(self,gender):
        self.gender=gender#138774892839984.gender
        #138774892840176.gender
        print(f"{self.gender} took birth",id(self))
    def name_it(self,name):
        self.name=name
        print(f"{self.name} is your name",id(self))
    def intro(self):
        print(f"hi i am {self.name} a {self.gender}",id(self))

In [ ]:
h=Human()
h.birth("female")
h.name_it("xena")

female took birth 138774892843152
xena is your name 138774892843152

In [ ]:
#constuctor
def __init__(self):
    #init method is built in method
    #called on its own when object is created
    #init,default value,set to passed value

In [ ]:
#self is ref of object who is calling
class Human:
    def __init__(self):
        self.name=""
        self.gender=""
        print("EMpty human created")
    def set_Human(self,gender,name):
        self.gender=gender
        self.name=name
        print(f"{self.gender} took birth with name {self.name}:",id(self))
    def intro(self):
        print(f"hi i am {self.name} a {self.gender}",id(self))

In [ ]:
h=Human()

EMpty human created

In [ ]:
h.set_Human("male","amar")

male took birth with name amar: 138774892852272

In [ ]:
h.intro()

hi i am amar a male 138774892852272

In [ ]:
#self is ref of object who is calling
class Human:
    def __init__(self,gender="",name=""):
        self.name=name
        self.gender=gender
        print("init called:")
        print(f"{self.gender} took birth with name {self.name}:",id(self))
    def set_Human(self,gender,name):
        self.gender=gender
        self.name=name
        print(f"{self.gender} took birth with name {self.name}:",id(self))
    def intro(self):
        print(f"hi i am {self.name} a {self.gender}",id(self))

In [ ]:
h=Human("male","shaktiman")

init called:
male took birth with name shaktiman: 138774326646464

In [ ]:
#__del__:method called on its own just before object is removed from memory
#used to do cleanup task:
                #close open file,leave resources taken,close open connection
#self is ref of object who is calling
class Human:
    def __init__(self,gender="",name=""):
        self.name=name
        self.gender=gender
        print("init called:")
        print(f"{self.gender} took birth with name {self.name}:",id(self))
    def __del__(self):
        print(f"R.I.P {self.name}")
    def intro(self):
        print(f"hi i am {self.name} a {self.gender}",id(self))

In [ ]:
h=Human("male","shaktiman")

init called:
male took birth with name shaktiman: 138774326655968

In [ ]:
h1=Human("femal","Ek stree")

init called:
femal took birth with name Ek stree: 138774892849056
R.I.P shaktiman

In [ ]:
print(h1)

<__main__.Human object at 0x7e370c3127a0>

In [ ]:
#def __str__()
    #should return string only
    #called printer method
    #one can code what to print if passed to print() directly

class Human:
    def __init__(self,gender="",name=""):
        self.name=name
        self.gender=gender
        print("init called:")
        print(f"{self.gender} took birth with name {self.name}:",id(self))
    def __del__(self):
        print(f"R.I.P {self.name}")
    def __str__(self):
        return "hi i am "+self.name+" a "+self.gender

In [ ]:
h1=Human("femal","Ek stree2")

init called:
femal took birth with name Ek stree2: 138774892849536
R.I.P Ek stree

In [ ]:
print(h)

hi i am shaktiman a male

In [ ]:
Abstarction:
            access specifiers/visibilities:
            public: <var>
            private: _<var>  hidden/non_reflective but if known will be accessed
            strong private: __<var> not accessed outside class/can not be inherited

In [ ]:
class Person:
    gender="male"
    _name="amar"
    __number="9821601163"
    def get_info(self):
        print(Person.gender,Person._name,Person.__number)

In [ ]:
p=Person()
p.get_info()

male amar 9821601163

In [ ]:
class Human:
    def __init__(self,gender="",name=""):
        self.__name=name
        self.__gender=gender
        print("init called:")
        print(f"{self.__gender} took birth with name {self.__name}:",id(self))
    def __del__(self):
        print(f"R.I.P {self.__name}")
    def __str__(self):
        return "hi i am "+self.__name+" a "+self.__gender

In [ ]:
h=Human("male","super_man")

init called:
male took birth with name super_man: 138774081988656
R.I.P super_man

In [ ]:
print(h)

hi i am super_man a male

In [ ]:
h.name="super pandu"

In [ ]:
#memberships
#local:use to pass values to functions
#instance:every object has own copy
#class:single copy,maintained by class can be accessed by members(objects)
class Human:
    Adhar_Card=202400#class member:(static member)
    def __init__(self,gender="",name=""):#name,gender local to method
        self.__name=name
        #self.__name,self.__gender are instance/object members
        self.__gender=gender
        Human.Adhar_Card+=1
        self.__my_acn=Human.Adhar_Card
        print("init called:")
        print(f"{self.__gender} took birth with name {self.__name}:",id(self))
    def __str__(self):
        return "hi i am "+self.__name+" a "+self.__gender+" my Adhar is:"+ str(self.__my_acn)

In [ ]:
h1=Human("male","super man")
h2=Human("male","krishh")
h3=Human("male","chot bheem")
print(h1)
print(h2)
print(h3)

init called:
male took birth with name super man: 138774081989136
init called:
male took birth with name krishh: 138774081983616
init called:
male took birth with name chot bheem: 138774081992928
hi i am super man a male my Adhar is:202401
hi i am krishh a male my Adhar is:202402
hi i am chot bheem a male my Adhar is:202403
R.I.P Ek stree2

In [ ]:

#single level
class A:
    def my_A(self):
        print("Hi i m from A:")
class B(A):
    def my_B(self):
        print("Hi i m from B:")

In [ ]:
obj=B()
obj.my_B()

Hi i m from B:

In [ ]:
obj.__my_A()

AttributeError: 'B' object has no attribute '__my_A'

In [ ]:
#multi_level
class A:
    def my_A(self):
        print("Hi i m from A:")
class B(A):
    def my_B(self):
        print("Hi i m from B:")
class C(B):
    def my_C(self):
        print("Hi i m from C:")

In [ ]:
obj=C()

In [ ]:
#hierarchical
class A:
    def my_A(self):
        print("Hi i m from A:")
class B(A):
    def my_B(self):
        print("Hi i m from B:")
class C(A):
    def my_C(self):
        print("Hi i m from C:")

In [ ]:
#mutiple without issues
class A:
    def my_A(self):
        print("Hi i m from A:")
class B:
    def my_B(self):
        print("Hi i m from B:")
class C:
    def my_C(self):
        print("Hi i m from C:")

In [ ]:
#mutiple with issues:ambiguity
'''Python we could handle this by FCFT
(First Come First Taken Method)
take from 1st reject from all next
'''
class A:
    def my(self):
        print("Hi i m from A:")
class B:
    def my(self):
        print("Hi i m from B:")
class C:
    def my(self):
        print("Hi i m from C:")

In [ ]:
class X(C,A,B):
    def my_X(self):
        print("Hi i m from X:")

In [ ]:
obj=X()

In [ ]:
obj.my_X()

Hi i m from X:

In [ ]:
obj.my()

Hi i m from C:

In [ ]:
class Parents:
    def welcome(self,name):
        print("Parent:Welcome,",name)

    def eat(self):
        print("Parent:Roti sabji")

In [ ]:
class Child(Parents):
    pass#pass :is no operation statement used as fillers

In [ ]:
obj=Child()

In [ ]:
obj.welcome("amar")
obj.eat()

Parent:Welcome, amar
Parent:Roti sabji

In [ ]:
'''
Over-ride:
when child child class rewrites parent method it rejects inheritance/rejects inherited method and create own.

reason:
adapt to changes wrt time and development

'''
class Parents:
    def welcome(self,name):
        print("Parent:Welcome,",name)

    def eat(self):
        print("Parent:Roti sabji")

class Child(Parents):
    def eat(self):#override
        print("Child:   Pizza,Burger....")

In [ ]:
obj=Child()
obj.welcome("amar")
obj.eat()

Parent:Welcome, amar
Child:   Pizza,Burger....

In [ ]:
class Human:
    #over load only on data type not on signature
    def birth(self,name):
        print(name," birth 2")
    def birth(self):
        print("birth 1")

In [ ]:
obj=Human()

In [ ]:
obj.birth()

TypeError: Human.birth() missing 1 required positional argument: 'name'

In [ ]:
implement Banking system:
operations:
1:open account: user would give name,gender,amount(min 5000) and creates account--->gets account number auto generated
2:deposit(amount):--->deposite to account number given(amount>0)
3:withdraw(amount):--->withdraw to account number given(minmum balance>5000)
4:check_balance():----->given account number return balance
menu driven code for this
every option step is 1.read account number 2.check if there 3.if there operate else update wrong account number

In [ ]:
#dict to store {account_no:account_data}

In [ ]:
class Account:
    account_generator=202400
    def check_balance(self):
        print(f"{self.__account_no} has balance of {self.__amount}INR.")
    def create_account(self,name,gender,amount):
        self.__name=name
        self.__gender=gender
        self.__amount=amount
        Account.account_generator+=1
        self.__account_no=Account.account_generator
        print(f"Account created for {self.__name} with balance {self.__amount}")
        print(f"Your account number is:",{self.__account_no})
    def deposit(self,amount):
        if amount<0:
            print(f"{amount} is negative can not be processed")
        else:
            self.__amount+=amount
            self.check_balance()
    def withdraw(self,amount):
        if self.__amount-amount<5000:
            print(f"{__account_no} reached to minimum balance transection cancled")
        else:
            self.__amount-=amount
            self.check_balance()
    def get_account_no(self):
        return self.__account_no

In [ ]:
def Menu():
    print("".center(30,'-'))
    print("Lena Bank".center(30,'-'))
    print("".center(30,'-'))
    print("1.Create Account:")
    print("2.Deposit to Account:")
    print("3.Withdraw from Account:")
    print("4.Check Balance:")
    print(":")

In [ ]:
Menu()

------------------------------
----------Lena Bank-----------
------------------------------
1.Create Account:
2.Deposit to Account:
3.Withdraw from Account:
4.Check Balance:
:

In [ ]:
#Bank Menu Driven
bank={}
while True:
    Menu()
    ch=int(input())
    if ch==1:
        print("Enter name:")
        name=input("Enter name:")
        gender=input("Enter gender:")
        while True:
            amount=float(input("Amount 3000+:"))
            if amount>=3000:
                obj_account=Account()
                obj_account.create_account(name,gender,amount)
                bank[obj_account.get_account_no()]=obj_account
                break
            else:
                print("Not Enough fund given............")
    elif ch==2:
        ac=int(input("Enter account number:"))
        #if account exists
        if ac in  bank:
            print("Account Found")
            account=bank.get(ac)
            amt=float(input("Enter amount to deposit:"))
            account.deposit(amt)
        else:
            print(f"{ac} not found")
    elif ch==4:
        ac=int(input("Enter account number:"))
        #if account exists
        if ac in  bank:
            print("Account Found")
            account=bank[ac]
            account.check_balance()
        else:
            print(f"{ac} not found")
    elif ch==0:
        print("Exiting..........")
        break

------------------------------
----------Lena Bank-----------
------------------------------
1.Create Account:
2.Deposit to Account:
3.Withdraw from Account:
4.Check Balance:
:
1
Enter name:
Enter name:amar
Enter gender:male
Amount 3000+:50000
Account created for amar with balance 50000.0
Your account number is: {202401}
------------------------------
----------Lena Bank-----------
------------------------------
1.Create Account:
2.Deposit to Account:
3.Withdraw from Account:
4.Check Balance:
:
2
Enter account number:202401
Account Found
Enter amount to deposit:30000
202401 has balance of 80000.0INR.
------------------------------
----------Lena Bank-----------
------------------------------
1.Create Account:
2.Deposit to Account:
3.Withdraw from Account:
4.Check Balance:
:
2
Enter account number:202401
Account Found
Enter amount to deposit:-9000
-9000.0 is negative can not be processed
------------------------------
----------Lena Bank-----------
------------------------------
1.Create Account:
2.Deposit to Account:
3.Withdraw from Account:
4.Check Balance:
:
9
------------------------------
----------Lena Bank-----------
------------------------------
1.Create Account:
2.Deposit to Account:
3.Withdraw from Account:
4.Check Balance:
:
0
Exiting..........

In [ ]:
a.deposit(1000)

202401 has balance of 11000INR.

In [ ]:
a.withdraw(3000)

202401 has balance of 8000INR.