In [ ]:
# range(start,end,step)
# default values : if not given then taken
#   start:0
#   step:+1
#   end:on python we will stop at n-1

In [ ]:
# print range given by user  (INTERVIEW QUESTION)
#example start:2  end:5  OP : 2 3 4 5
#example start:2  end:5  OP : -1 -2  0 1 2 3 4

s=int(input("enter start number"))
e=int(input("enter end number"))

if(s<e):
  for i in range(s,e+1,1):
    print(i,end=",")
else :
  for i in range(s,e-1,-1):
    print(i,end=",")

enter start number2
enter end number5
2,3,4,5,

In [ ]:
for _ in range(1,10):
  print("x")

x
x
x
x
x
x
x
x
x

In [ ]:
for i in range(1,4):
  for j in range(1,4):
    print(f"i:{i} , j:{j}")

#for each pass of external loop internal loop runs n times

i:1 , j:1
i:1 , j:2
i:1 , j:3
i:2 , j:1
i:2 , j:2
i:2 , j:3
i:3 , j:1
i:3 , j:2
i:3 , j:3

In [ ]:
#flag concept:
#flag set ---> true flag=reset --->False
#set then if fail reset
# reset if found/match/got set
# check if number is prime or not

In [ ]:
flag=True
no=int(input("Enter a number"))
for i in range(2,no):
  if no%i==0:
    flag==False
  if flag == True:
    print(no,"is prime")
  else:
    print(no,"is not prime")

Enter a number5
5 is prime
5 is prime
5 is prime

In [ ]:
flag=True
no=int(input("Enter a number"))
for i in range(2,no):
  if no%i==0:
    flag=False
    break #stop when fail
print(no,"is prime:",flag)

Enter a number4
4 is prime: False

In [ ]:
for no in range(2,51):
  flag=True
  for i in range(2,no):
      if no%i==0:
        flag=False
        break #stop when fail
  if flag:
    print(no,"is prime")

2 is prime
3 is prime
5 is prime
7 is prime
11 is prime
13 is prime
17 is prime
19 is prime
23 is prime
29 is prime
31 is prime
37 is prime
41 is prime
43 is prime
47 is prime

In [ ]:
#157
no=int (input("Enter a number"))
temp=no
sum=0
while no>0:
  digit=no%10
  no=no//10
  sum+=digit**3
  print("no:",no,"digit:",digit,"sum", sum)

if (sum==temp):
  print("No is armstrong")
else:
  print("aklsjidja")

Enter a number153
no: 15 digit: 3 sum 27
no: 1 digit: 5 sum 152
no: 0 digit: 1 sum 153
No is armstrong

In [ ]:
#print all armstrong numbers from 100 to 1000
for no in range(100,1001):
  temp=no
  sum=0
  while no>0:
    digit=no%10
    no=no//10
    sum+=digit**3
  if (sum==temp):
    print(temp)

153
370
371
407

In [ ]:
#Infosys question
#print all numbers perfectly divisible by 3,5,7 in 1 to 100

for no in range(1,100):
  if (no%3==0 and no%5==0 and no%7==0):
    print(i)

In [ ]:
#Accenture
#1/2+3/4+5/6.........nth term
#n entered by user using single variable
sum=0
n = int(input("enter a number"))
for i in range(1,2*n+1,+2):
  print(f"{i}/{i+1}", end="+",)
  temp= (i)/(i+1)
  sum += temp
print("=",sum)

enter a number4
1/2+3/4+5/6+7/8+= 2.9583333333333335

In [ ]:
for i in range(1,11):
    if i==5:

        break
    print(i)
else:#runs at end if end is reached
    print("ok bye the end.......")

1
2
3
4

Common in all 4
- hetrogeneous
- created with symbols
  
  [] list
  
  () tuple
  
  {1} set

  {1:"value"} dictionary

  <br>
  also construtors/cast types
  available
  
  list()
  
  set()

  tuple()

  dict()

List
<br>
- hetrogeneous
- dynamic: can grow/shrink over runtime
- indexed: +ve and -ve
- duplicate allowed
- printable
- iterable
- +can concate
- *repeats

In [ ]:
a=[1,2,3,4,5]
print(a)#printable

[1, 2, 3, 4, 5]

In [ ]:
for i in a:
  print(i)#iterable

1
2
3
4
5

In [ ]:
for i in range(len(a)):
  print(i)

#len() returns number of element

0
1
2
3
4

In [ ]:
#  0   1  2  3  4  +ve index
a=[10,20,30,40,50]
#  -5 -4 -3 -2 -1  -ve index

In [ ]:
b=[23,33,44,55,66]
c=a+b # + only concates
print(c)

[10, 20, 30, 40, 50, 23, 33, 44, 55, 66]

In [ ]:
a*3

[10, 20, 30, 40, 50, 10, 20, 30, 40, 50, 10, 20, 30, 40, 50]

In [ ]:
v=[1,2,3]
sum(v)

TypeError: 'float' object is not callable

In [ ]:
l=[25,1,26,10,27]
print("sorted :",sorted(l))#returns sorted list

sorted : [1, 10, 25, 26, 27]

In [ ]:
print(l)

[25, 1, 26, 10, 27]

In [ ]:
l

[25, 1, 26, 10, 27]

In [ ]:
print("sorted:",l.sort())
#will sort inplace but not returning anything

sorted: None

In [ ]:
l

[1, 10, 25, 26, 27]

In [ ]:
#shellow copy
a=[11,22,33,44]
b=a
print("a:",a,id(a)," b:",b,id(b))
b[0]=100
print("a:",a,id(a)," b:",b,id(b))

a: [11, 22, 33, 44] 138668653431232  b: [11, 22, 33, 44] 138668653431232
a: [100, 22, 33, 44] 138668653431232  b: [100, 22, 33, 44] 138668653431232

In [ ]:
#deep copy
a=[11,22,33,44]
b=a.copy()
print("a:",a,id(a)," b:",b,id(b))
b[0]=100
print("a:",a,id(a)," b:",b,id(b))

a: [11, 22, 33, 44] 138668652832576  b: [11, 22, 33, 44] 138668652825984
a: [11, 22, 33, 44] 138668652832576  b: [100, 22, 33, 44] 138668652825984

Every data structure is shellow copy

In [ ]:
#slicing
l=[11,22,33,44,55,66,77,88,99]

#slice [start:end:step]
l[2:5:1]
print(l[2:5:1])
print(l[:3])
print(l[6:])
print(l[::])
print(l[::-1])
print(l[::2])
print(l[:457947389])

[33, 44, 55]
[11, 22, 33]
[77, 88, 99]
[11, 22, 33, 44, 55, 66, 77, 88, 99]
[99, 88, 77, 66, 55, 44, 33, 22, 11]
[11, 33, 55, 77, 99]
[11, 22, 33, 44, 55, 66, 77, 88, 99]

In [ ]:
l=[[10,20,30],[40,50],[60,70,80]]

12
22
32
42
52
62
72
82

In [ ]:
#implement scalar addition to 2d list
#means if user gives n=2 add 2 to each element in list

l=[[10,20,30],[40,50],[60,70,80,90,100]]
n=2
for sublist in range(len(l)):
  for item in range(len(l[sublist])):
    l[sublist][item]+=n

print(l)

[[12, 22, 32], [42, 52], [62, 72, 82, 92, 102]]

In [ ]:
#take numbers from user till first blank
#store in list
l =[]

while True:
  n=input("Enter a number")
  if (n==''):
    break
  else:
    l.append(int(n))
print(l)

Enter a number3
Enter a number4
Enter a number5
Enter a number6
Enter a number
[3, 4, 5, 6]

In [ ]:
l

[3, 4, 5, 6]

In [ ]:
#when stopped print sum and average of data in listsu
sum(l)

18

In [ ]:
avg=sum(l)/len(l)

In [ ]:
avg

4.5

In [ ]:
#print all numbers greater than avg
temp=[]
for i in l:
  if i>avg:
    print(i)
    temp.append(i)

5
6

In [ ]:
temp

[5, 6]

In [ ]:
temp

[5, 6]

In [ ]:
# tuple:()
# all from list but static
# once created can not change anything in it
# tuple has only 2 methods
#list with in tuple will be dynamic

SET
- Intersection : a & b : {3,4}
- Union : a|b : {1,2,3,4,5,6,7}
- Symmetric Difference : A^B : {1,2,5,6}
- Difference : A-B: {1,2}, B-A:{5,6}
- Empty set: s=set() // To create empty set

In [ ]:
all={1,2,3,4,5,6,7,8,9,10}
dance={2,5,7,8}
sing={2,8,9,10}
backstage={2,3,5,7,10}

In [ ]:
#3 Eye Interview
#Find who are not part of anything
#Find who are part of everything
#Find who can dance and sing

In [ ]:
all-(dance|sing|backstage)

{1, 4, 6}

In [ ]:
dance&sing&backstage

{2}

In [ ]:
dance&sing

{2, 8}

Set
<br>
- {} -----> use set() for creating empty set
- hetrogeneous
- dynamic: can grow/shrink over runtime
- custom indexed hence cannot be accessed via index     stores on its own way
- duplicate allowed
- printable
- iterable

In [ ]:
#print freq. of each element in list
xlist=[1,2,3,1,2,4,1,2,1,2,1,3,4]
s = set(xlist)
#get unique element

#sort item

#use sorted elements and search them in list to count
print("list:",xlist)
xset=set(xlist)
print("set:",xset)

list: [1, 2, 3, 1, 2, 4, 1, 2, 1, 2, 1, 3, 4]
set: {1, 2, 3, 4}

In [ ]:
xlist=[1,2,3,1,2,4,1,2,1,2,1,3,4]
for i in list(set(xlist))[::-1]:
  c=xlist.count(i)
  print(i,c)
print(us)

4 2
3 2
2 4
1 5
[1, 2, 3, 4]

DICTIONARY:mapping {key:value} ---primary key:data
- key:must be unique
- value:may/may not be unique
- key accessed ---[key]---> value
- key,value can be on any type

In [ ]:
d={1:"one",2:"two",3:"three"}

In [ ]:
print(d)

{1: 'one', 2: 'two', 3: 'three'}

In [ ]:
for key in d:  #by deafault key given
  print(key)

1
2
3

In [ ]:
for key in d:
  print(f"d[{key}]--->{d[key]}")

d[1]--->one
d[2]--->two
d[3]--->three

In [ ]:
d[0]="zero"

In [ ]:
d.keys()

dict_keys([1, 2, 3, 0])

In [ ]:
d.values()

dict_values(['one', 'two', 'three', 'zero'])

In [ ]:
# accept a number from user print in words
# 542
# five four two
number = input("enter:")
digits = int (number [::-1])

enter:456

In [ ]:
print(digits,type(digits))

654 <class 'int'>

In [ ]:
d={1:"one",2:"two",3:"three",4:"four",5:"five",6:"six",7:"seven",8:"eight",9:"nine"}

In [ ]:
number_words = {
    0: "Zero",
    1: "One",
    2: "Two",
    3: "Three",
    4: "Four",
    5: "Five",
    6: "Six",
    7: "Seven",
    8: "Eight",
    9: "Nine"
}
number=input("enter:")
number_int=int(number[::-1])
while number_int>0:
    digit=number_int%10
    number_int//=10
    print(number_words[digit],end=" ")

enter:768
Seven Six Eight

In [ ]:
xlist=[1,2,3,1,2,4,1,2,1,2,1,3,4]
dic = {}
for i in set(xlist):
  dic[i]=xlist.count(i)
print(dic)

{1: 5, 2: 4, 3: 2, 4: 2}

In [ ]:
#accept n comma separated values print maximum , minimun sum
data_list=list(map(int,input("enter comma separarted values:").split(",")))

enter comma separarted values:2,4,5,7,9

In [ ]:
data_list

[2, 4, 5, 7, 9]

In [ ]:
sum(data_list)

27

In [ ]:
max=data_list[4]
min=data_list[0]

In [ ]:
max

9

In [ ]:
min

In [ ]:
#accept list from user and add total at end of list
l=[1,2,3,4,5,6]
l.append(sum(l))
print(l)

[1, 2, 3, 4, 5, 6, 21]

In [ ]:
#accept n comma separated values print 2nd largest and smallest
data_list=list(map(int,input("enter comma separarted values:").split(",")))

enter comma separarted values:2,3,4,5,6,7,8,9

In [ ]:
data_list

[2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
sort=list(sorted(set(data_list)))

In [ ]:
sort

[2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
sort[-2]

8

In [ ]:
sort[1]

3

In [ ]:
#rotation in list
#clockwise rotate by n-times given by user
n=int(input("Enter number"))

clist=[10,20,30,40]
while n>0:
  clist.append(clist.pop(0))
  print(clist)
  n-=1

Enter number4
[20, 30, 40, 10]
[30, 40, 10, 20]
[40, 10, 20, 30]
[10, 20, 30, 40]

In [ ]:
#rotation in list
#anticlockwise rotate by n-times given by user
n=int(input("Enter number"))

clist=[10,20,30,40]
while n>0:
  temp=clist.pop()
  clist.insert(0,temp)
  print(clist)
  n-=1

Enter number4
[40, 10, 20, 30]
[30, 40, 10, 20]
[20, 30, 40, 10]
[10, 20, 30, 40]