In [ ]:
s1='amar'
s2="amar"
s3='''amar'''
s4="""amar"""

print(s1,s2,s3,s4)

amar amar amar amar

In [ ]:
s='''amar
panchal'''
#this is more powerfull way of making string

In [ ]:
#itertable
s="python"
for char in s:
  print(char)

p
y
t
h
o
n

In [ ]:
#indexed
s="python"
for index in range(len(s)):
    print(f"at s[{index}] we have :{s[index]}")

at s[0] we have :p
at s[1] we have :y
at s[2] we have :t
at s[3] we have :h
at s[4] we have :o
at s[5] we have :n

In [ ]:
#indexed
s="python"
for index in range(len(s)-1,0,-1):
    print(f"at s[{index}] we have :{s[index]}")

at s[5] we have :n
at s[4] we have :o
at s[3] we have :h
at s[2] we have :t
at s[1] we have :y

In [ ]:
f="amar"
s="panchal"
fullname=f+" "+s
print(fullname)

amar panchal

In [ ]:
#Create tree of size n where n is give by user
n=int(input("Enter number for tree size"))
for i  in range(1,n+1):
  print(" "*(n-i)," X"*i)

Enter number for tree size8
         X
        X X
       X X X
      X X X X
     X X X X X
    X X X X X X
   X X X X X X X
  X X X X X X X X

In [ ]:
#slcing
s="abcdefgh"
print(s[3:7])
print(s[:3])

defg
afc

In [ ]:
s=input("Enter a word: ")
for char in range(1,len(s)+1):
  print(s[:char])

Enter a word: vedant
v
ve
ved
veda
vedan
vedant

In [ ]:
"amar" in "amarendra bahubali"
#return true if sub string found in string

True

In [ ]:
l=[1,2,3,4,5,6,7,8,9]
10 in l

False

In [ ]:
line="tHis IS sO MuCh FuN"

In [ ]:
line.capitalize()

'This is so much fun'

In [ ]:
line.title()

'This Is So Much Fun'

In [ ]:
line ="this is so much fun"
line.count("is")

2

In [ ]:
line.index("is")

2

In [ ]:
line.find("mad")

-1

In [ ]:
word="imagination"
word.index("i")
word.rindex("i") # searches from right hand side but no -ve index only

8

In [ ]:
word = "code"
print(word.center(30,'-'))
amt="12.30"
print(amt.rjust(30))

-------------code-------------
                         12.30

In [ ]:
 #print(" "*(n-i)," X"*i)
let="X"
print(let)
for i in range(1,6):
  print(let.ljust(i),let)

print(let*7)

X
X X
X  X
X   X
X    X
X     X
XXXXXXX

In [ ]:
m=1
for i in range(1,7):
  print(("X"*m).center(20))
  m+=2

         X
        XXX
       XXXXX
      XXXXXXX
     XXXXXXXXX
    XXXXXXXXXXX

In [ ]:
for i in range(1,12,2):
  print(("X"*i).center(20))

         X
        XXX
       XXXXX
      XXXXXXX
     XXXXXXXXX
    XXXXXXXXXXX

In [ ]:
line="this is done"
line.replace(" is"," was")

'this was done'

In [ ]:
line="1,22,45,678"
print(line.split(","))

['1', '22', '45', '678']

In [ ]:
#in on line given word count of line should also hnadle extra space

n=input("enter a string ")
print("total words: ",len(n.split()))

enter a string my name is vedant
total words:  4

In [ ]:
#print a to z with ascii value
c="a"
ord("a")

97

In [ ]:
for i in range(ord("A"),ord("Z")+1):
  print(chr(i),i)

A 65
B 66
C 67
D 68
E 69
F 70
G 71
H 72
I 73
J 74
K 75
L 76
M 77
N 78
O 79
P 80
Q 81
R 82
S 83
T 84
U 85
V 86
W 87
X 88
Y 89
Z 90

In [ ]:
c="9"
c.isdigit()

True

In [ ]:
#palindrome
word="racecar"
if(word==word[::-1]):
  print("IS a palindrome")

IS a palindrome

In [ ]:
#check vowels in a string
line=input("enter line: ").lower()
count=0
for character in "aeiou":
  count+=line.count(character)
print("Total vowels are: ",count)

enter line: My name is vedant
Total vowels are:  5

In [ ]:
#syntax :
#def <name>(<parameter>):
        # code block
        # code block

#out of function

In [ ]:
def intro(name,native):
  print(f"hi {name}, so you are from {native}")

In [ ]:
intro("amar","mumbai")

hi amar, so you are from mumbai

In [ ]:
intro(native="surat",name="jignesh")

hi jignesh, so you are from surat

In [ ]:
#default value parameter
#parameter=default value used only when user failed to supply

def intro(name="unknown",native="india"):
    print(f"hi {name}, so you are from {native}")

In [ ]:
intro("amar")

hi amar, so you are from india

In [ ]:
intro(native="pune")

hi unknown, so you are from pune

In [ ]:
def hobbies(*h):  #*<var> variable size parameter at most one used
  print(type(h))
  print("total hobbies are:",len(h))
  for item in h:
    print("->",item)

In [ ]:
hobbies("write","sing","cricekt")

<class 'tuple'>
total hobbies are: 3
-> write
-> sing
-> cricekt

In [ ]:
hobbies("eat","sleep")

<class 'tuple'>
total hobbies are: 2
-> eat
-> sleep

In [ ]:
# write a function to add n parameter passed to function
#call fucntion adder

def adder(*a):
  print(f"sum of elements {sum(a)}")

In [ ]:
adder(1,2,3,3,4,4)

sum of elements 17

In [ ]:
#use of return to return n elements from function
def ascending(no1, no2):
  if no1<no2:
    return no1,no2
  else:
    return no2,no1

In [ ]:
resoonse=ascending(55,3)

In [ ]:
resoonse

(3, 55)

In [ ]:
#create function to analyse data given as  asequnece of numbers
# function should return max,min,sum,average
#priting is done is main

def analyzer(*numbers):
    total_sum = sum(numbers)
    maximum = max(numbers)
    minimum = min(numbers)
    average = total_sum / len(numbers)
    return total_sum, maximum, minimum, average

total_sum, maximum, minimum, average = analyzer(2, 5, 13, 32, 34, 32, 42, 32, 4, 23, 4, 2, 3)
print(f"Sum: {total_sum}, Max: {maximum}, Min: {minimum}, Avg: {average}")

Sum: 228, Max: 42, Min: 2, Avg: 17.53846153846154

In [ ]:
#reverse line word by word using function

def reverse_line(line):

  r_list=line.split()[::-1]
  r_line=""
  for word in r_list:
    r_line=r_line+" "+word
  return r_line

In [ ]:
r_line = reverse_line("this is a test")
print(r_line)

 test a is this

In [ ]:
#Decorator: function polymorphism
#wrap old fucntion in new call

def eng(name):
  print(f"{name} my dear friend , how are you ? ")
def hindi(name):
  print(f"{name} मेरे प्रिय मित्र, आप कैसे हैं? ")
def marathi(name):
  print(f"{name} माझ्या प्रिय मित्रा, तू कसा आहेस?" )
def welcome(name,lang):
  lang(name)

welcome("vedant", hindi)

vedant मेरे प्रिय मित्र, आप कैसे हैं?

In [ ]:
#generator: function that runs in parts
#it will generate valvues for every interval "yeild":keyword where it stops

In [ ]:
def generator_function(n):
  for i in range(1,11):
    print(n*i)
    yield

In [ ]:
data=generator_function(10)

In [ ]:
next(data)

60