In [ ]:
#GHOST CLASS / POLYMORPHIC CLASS
# class without any properties
# as per need one can add / set / access properties

class Human:
  pass

h1=Human()
h2=Human()
#setattr()/getattr():works on objects only, property set will be only for object that called it
# object,property, value
setattr(h1,"name","super")
setattr(h2,"gender","female")

h1.name

'super'

In [ ]:
getattr(h1,"name")

'super'

In [ ]:
getattr(h1,"gender",None)

LIST COMPREHENSION

In [ ]:
#can alter/update content of list (in place)
#can combine/add/change lists to single list
new_list=[expression for item in list if condition]

In [ ]:
l1=[i for i in range(1,11)]
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# l2<--------l1*2 for each item

l2 = [i*2 for i in l1]
print(l2)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
#l3 keep only odd number

l3=[i for i in l1 if i%2==1]
l3

[1, 3, 5, 7, 9]

In [ ]:
l1=[1,2,3,4,5]
l2=['abby','dabby','cabby','chubby','flubby']

l3= [(i,j) for i,j in zip(l1,l2)]
l3

[(1, 'abby'), (2, 'dabby'), (3, 'cabby'), (4, 'chubby'), (5, 'flubby')]

In [ ]:
'''
1+8=9
2+7=9


8+1=9
'''
pairs = [f"{x} + {9 - x} = 9" for x in range(1, 9)]
pairs

['1 + 8 = 9',
 '2 + 7 = 9',
 '3 + 6 = 9',
 '4 + 5 = 9',
 '5 + 4 = 9',
 '6 + 3 = 9',
 '7 + 2 = 9',
 '8 + 1 = 9']

In [ ]:
l=[[1,2,3],[4,5,6],[7,8,9]]
#reduce to 1d
d1=[j for i in l for j in i]
d1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

Lambda Function

In [ ]:
# function without name
# called by variable that represents it

x=lambda x:x*2
print(x(12))

24

In [ ]:
l1=[11,22,33,44,55,66]
l2=list(map(lambda item:item/2,l1))
print(l2)

[5.5, 11.0, 16.5, 22.0, 27.5, 33.0]

In [ ]:
#count vowels

def count_vowels(line):
  count=0
  line=line.lower()
  for i in "aeiou":
    count+=line.count(i)
  return count

print("total vowels are:" , count_vowels(input("Enter a line:")))

Enter a line:my name is vedant
total vowels are: 5

In [ ]:
#anagram listen=silent
def anagram(word1,word2):
  return sorted(word1)==sorted(word2)
print("Are anagrams:",anagram(input("Enter word1 to check:"),input("Enter word2 to check:")))

Enter word1 to check:silent
Enter word2 to check:listen
Are anagrams: True

In [ ]:
# tree up to n using function

def print_tree(n):
    for i in range(1,n+1):
        print(' ' * (n - i) + 'X' * (2 * i - 1))


n = 30
print_tree(n)

                             X
                            XXX
                           XXXXX
                          XXXXXXX
                         XXXXXXXXX
                        XXXXXXXXXXX
                       XXXXXXXXXXXXX
                      XXXXXXXXXXXXXXX
                     XXXXXXXXXXXXXXXXX
                    XXXXXXXXXXXXXXXXXXX
                   XXXXXXXXXXXXXXXXXXXXX
                  XXXXXXXXXXXXXXXXXXXXXXX
                 XXXXXXXXXXXXXXXXXXXXXXXXX
                XXXXXXXXXXXXXXXXXXXXXXXXXXX
               XXXXXXXXXXXXXXXXXXXXXXXXXXXXX
              XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
             XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
            XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
           XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
          XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
         XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
        XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
       XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
      XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
     XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
    XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
   XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
 XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

In [ ]:
#given a para return max repeated word
def repeated(para):
  words=para.lower().split()

  word_dict={}
  for word in words:
    if word in word_dict:
      word_dict[word]+=1
    else :
      word_dict[word]=1


  max_word = max(word_dict, key=word_dict.get)

  return max_word,word_dict[max_word]


para = "In the vast expanse of the universe, stars twinkle in the night sky, each one telling its own story. Some stars are born from swirling clouds of gas, while others end their lives in dramatic explosions. The universe is constantly changing, and as it evolves, so do the stars within it. Despite the differences in size, color, and age, all stars share a common fate: they will eventually burn out, leaving behind remnants that tell the tale of their existence."
print("Max used word is: ",repeated(para))

Max used word is:  ('the', 7)

In [ ]:
def filler(data_list):
    full_list=[x for x in range(min(data_list),max(data_list)+1)]
    missing=len(full_list)-len(data_list)
    m_elem=sorted(set(full_list)-set(data_list))
    return missing,full_list,m_elem

In [ ]:
data_list=[1,2,4,5,7,9,10]
missing,full_list,m_elem = filler(data_list)
print(f"How many missing {m_elem}")
print(f"No. of elements {missing}")
print(f"Full List {full_list}")

How many missing [3, 6, 8]
No. of elements 3
Full List [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]